/* adding entry aniamtion for the place */

.forecast-card-entry {
    animation: catchCard 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15) forwards;
}

@keyframes catchCard {
    0% {
        transform: translateX(100vw) rotate(10deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}